<div class="container">
    <br /> <br /> <br /> <br /> <br /> 
    <div class="offer" *ngIf="offer != undefined">
            <div class="row">
                    <div class="col">
                        <h4>{{ offer.title }} - {{ offer.description }}</h4>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="img_capa">
                            <img [src]="offer.images[0].url" class="img-fluid"/>
                        </div>
        
                        <div class="thumbnails">
                            <img *ngFor="let image of offer.images" [src]="image.url" />
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col text-center">
                                <p>For only</p>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col text-center">
                                <h1>{{ offer.price | currency: 'EUR' :'symbol':'':'fr-FR' }}</h1>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn btn-warning btn-lg">Add to cart</button>
                            </div>
                        </div>
                        
                    </div>
        
                </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" routerLink="how-to-use" routerLinkActive="active" role="tab" aria-selected="true">How to use?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="disableTabActive()" routerLink="where-is" routerLinkActive="active" role="tab" aria-selected="false">Where is?</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <router-outlet></router-outlet>
    </div>
          
          <br /> <br />
</div>