<div class="fixed-top bg-light">

    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <a routerLink="" >
                    <img src="/assets/logo.png" />
                  </a>
            </div>
            <div class="p-2 flex-fill">
                <input type="text" class="form-control" placeholder="Search for offers..." 
                  #termOfSearch (keyup)="search(termOfSearch.value)"/>

                  <ul class="list-group" style="position: absolute; z-index: 999">
                    <!--li class="list-group-item"  *ngFor="let offer of displayedOffers">{{ offer.title +  " - " + offer.description | curtailText:10 }}</li -->
                    <li class="list-group-item"  *ngFor="let offer of offers | async">
                      <a [routerLink]="['/offer', offer.id]" (click)="cleanSearch()">
                        {{ offer.title +  " - " + offer.description | curtailText }}
                      </a>
                    </li>
                  </ul>
            </div>
            <div class="p-2">
                <a a href="#"><img src="/assets/cart.png"/></a>
            </div>
        </div>
    </div>

    <div class="menu">
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/entertainment">Entertainments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/restaurant">Restaurants</a>
          </li>
        </ul>
      </div>
    </div>
</div>

