<div class="container">
  
    <div class="section">
      <h3 class="text-center">Spotlights of the day!</h3>
      <h5 class="text-center">Enjoy the super offers we have separated for you:</h5>
    </div>
  
    <hr />
  
    <div class="row">
        <div class="col-sm-4" *ngFor="let offer of offers">
          <div class="card">
            <img class="card-img-top" [src]="offer.images[0].url">
            <div class="card-body">
              <h4 class="card-title">{{ offer.title }}</h4>
              <p class="card-text">{{ offer.description }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <p class="price">$ {{ offer.price }}</p>
              <a [routerLink]="['/offer',offer.id]" class="btn btn-outline-primary">See offer</a>
            </div>
          </div>
      </div>
    </div>
    <hr />
    
    <hr />
  </div>
  
